@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;800;900&family=Roboto:wght@100;300;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #2b2d42;
    color: #edf2f4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.brand {
    margin-top: -7px;
}

.brand span {
    color: #d90429;
}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu-bar .fa-solid {
    color: #fff;
    display: none;
}

.menu li {
    list-style: none;

}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 3px;
}

.menu .active {
    color: #d90429;
}

.menu a:hover {
    background-color: #d90429;
    color: #2b2d42;
    transition: ease-in 0.3s;
}

.main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr );
    align-items: center;
}

.main img {
    width: 350px;
    height: 510px;
    border: 7px solid #d90429;
    margin-left: 20px;
}

.main h1 {
    font-size: 3em;
}

.main p {
    line-height: 1.5em;
    text-align:justify;
}

.main span {
    color: #d90429;
}

.download-cv {
    padding: 10px 20px;
    background-color: #d90429;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 3px 3px rgba(131, 54, 54, 0.69);
}

.download-cv:hover {
    background-color: #fff;
    box-shadow: none;
}

/* about me*/
.about {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    align-items: center;
}

.about img {
    width: 100%;
    grid-column: 1/5 ;
}

.about-info {
    grid-column: 5/10 ;
    padding: 3em;
}

.about-info h2 {
    font-size: 2em;
    color: #191e58;
}

.divider {
    height: 4px;
    width: 60px;
    background-color: #d90429;
    margin-top: 5px;
    margin-bottom: 2em;
}

.about p {
    margin-bottom: 1em;
}

/* portfolio */
.portfolio {
    width: 100vw;
    color: #fff;
    background-color: #2b2d42;
}

.portfolio-headings {
    padding: 3em;
}

.portfolio-headings  h2 {
    font-size: 2.5em;
}

.portfolio .container {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.card {
    width: 300px;
    height: 350px;
    color: #fff;
    background-color: #151958;
    margin: 1em;
}

.card-img {
    width: 100%;
    height: 150px;
    background-image: url(../CSS/IMG/imagen3.png);
    background-size: cover;
}

.card-title {
    padding: 20px;
}

.card-proyect-links {
    display: flex;
    justify-content: space-evenly;
}

.card-proyect-links a {
    color: #fff;
    text-decoration: none;
}

.card-proyect-links i {
    font-size: 1.5em ;
}

.card .proyect-details {
    margin: 1em;
    width: 70%;
}

.card .proyect-details a {
    text-decoration: none;
    color: #2b2d42;
    text-transform: uppercase;
}

.proyect-details-content {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1em;
}

/* Contacto */
.contact-headings {
    padding: 3em;
}

.contact-headings h2 {
    font-size: 2.5em;
}

.contact-section {
    background-color: #2b2d42;
    color: #fff;
    width: 100vw;
}

.container-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form {
    margin-left: 2em;
}

.form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 1.5em;
}

.form input {
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
} 

.form textarea {
    height: 150px;
    background: none;
    color: #fff;
    padding: 1.5em;
    border: 1px solid #fff;
}

.btn-sibmit {
    padding: 10px 20px;
    margin: 1em;
    border: none;
    text-transform: uppercase;
    background-color: #d90429;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 3px 3px 3px 3px rgba(131, 54, 54, 0.69);
}

.btn-sibmit:hover {
    background-color: #fff;
    box-shadow: none;
}

/* footer */
.footer {
    width: 100vw;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2b2d42;
    background-color: #d90429;
}

.footer-content h2 {
    font-size: 2.5em;
}

.footer-content h5,
.social-network i {
    font-size: 1.5em;
}

.social-network {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
}
